body {
    background-color: red;
}
    div {
        background-color: honeydew;
        width: 800px;
        margin-left: calc((100% - 800px) / 2);

    }
        p {
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: green;
            text-decoration: underline;
            text-transform: uppercase;

        }